<aside>
  <div class="intro row">
    <h5 class="yellow"> Phani </h5>
    <div class="row about">
      <p class="m-b-0">
        Full Stack dev., Bachelors in Electronic &amp; Computer Engineering with an aggregate of 76% from 
        <a href="http://www.pvpsiddhartha.ac.in/" target="_blank">P.V.P Siddhartha Institue of Tech.</a>
        affiliated to JNTU Kakinada.
      </p>
    </div>
    <div class="row skills">
      <h5 class="yellow"> Skills </h5>
      <h6> Ruby
        <span star-rating="3"></span>
      </h6>
      <h6> Rails
        <span star-rating="4"></span>
      </h6>
      <h6> Javascript
        <span star-rating="3"></span>
      </h6>
      <h6> AngularJS
        <span star-rating="4"></span>
      </h6>
      <h6> Ionic
        <span star-rating="3"></span>
      </h6>
      <h6> PHP
        <span star-rating="3"></span>        
      </h6>
      <h6> Wordpress
        <span star-rating="3"></span>        
      </h6>
      <h6> HTML
        <span star-rating="3"></span>        
      </h6>
      <h6> CSS
        <span star-rating="3"></span>        
      </h6>
    </div>
    <div class="social-contact">
      <h5 class="yellow m-b-0"> Contact </h5>
      <div class="row mobile">
        <h6> <span class="glyphicon glyphicon-phone green"></span>  <a href="tel:+919394862144">+91-9394862144</a> </h6>
      </div>
      <div class="row email">
        <h6> <span class="glyphicon glyphicon-envelope green"></span>  <a href="mailto:vs3.phani@gmail.com">vs3.phani@gmail.com</a> </h6>
      </div>
      <div class="row linkedin">
        <h6> <span class="green fa fa-linkedin" aria-hidden="true"></span>  <a href="//www.linkedin.com/in/tumuluriphanikumar" target="_blank">tumuluriphanikumar</a>  </h6>
      </div>
      <div class="row github">
        <h6> <span class="green fa fa-github" aria-hidden="true"></span>  <a href="//www.github.com/itsmephani" target="_blank">itsmephani</a>  </h6>
      </div>
      <div class="row facebook">
        <h6> <span class="green fa fa-facebook-official" aria-hidden="true"></span>  <a href="//www.fb.com/phani4u4ever" target="_blank">phani4u4ever</a>  </h6>
      </div>
    </div>
  </div>
</aside>
